@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

.main-container {
    display: flex;
    height: 100vh;
    width: 100vw;
}

.left-panel {
    display: flex;
    padding-left: 2.5rem;
    height: 100%;
    width: 50%;
    gap:0.5rem;
    justify-content: center;
    align-items: center;
}
.right-panel {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
    width: 50%;
}


.img-div{
    position: relative;
    width: 33%;
    height: 90%;
    border-radius: 1.25rem 0 0 1.25rem;
    overflow: hidden;

}
.img-div img{
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.img-cyc{
    inset: 0;
    opacity: 0;
    opacity: 0.3;
    animation: fadeCycle 9s infinite; 
}
.img1{ animation-delay: 0s; }
.img2{ animation-delay: 3s; }
.img3{ animation-delay: 6s; }
@keyframes fadeCycle {
    0%   { opacity: 0.3; }
    10%  { opacity: 1; }  
    30%  { opacity: 1; }
    40%  { opacity: 0.3; } 
    100% { opacity: 0.3; }
}
.slogan
{
    position: absolute;
    top: 5%;
    right: 8%;
    z-index: 2;
    max-width: 70%;
}



.slogan-text {
    font-family: 'Bebas Neue', sans-serif;
    font-size: clamp(2.2rem, 6vw, 4.25rem);
    line-height: 1;
}



.logo {
    position: absolute;
    bottom: 5%;
    left: 5%;
    height: 3.125rem;
    width: 3.125rem;
    border: 0.063rem solid black;
    border-radius: 100%;
}



.main-heading {
    font-family: 'Bebas Neue', sans-serif;
    font-size: clamp(1.8rem, 5vw, 3.125rem);
    line-height: 1.1;
}

.sub-heading {
    font-family: "Poppins", sans-serif;
    font-weight: 300;
    margin-bottom: 2.813rem;
}

.signup-container {
    font-family: "Poppins", sans-serif;
}
input::placeholder {
    font-family: "Poppins", sans-serif;

    padding-left: 0.938rem;
    ;
}

.field {
    margin-bottom: 1.563rem;
    padding: 0.313rem;
    width: 26.25rem;
    height: 3.125rem;
    border: 0.063rem solid grey;
    border-radius: 0.625rem;
}
.signin-btn {
    text-decoration: none;
    font-weight: 600;
    color: black;
    padding-left: 0.188rem;
}

.signup-cont{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 2.5rem;
    border-radius: 0.625rem;
    width: 26.25rem;
    background-color: black;
    height: 3.125rem;
}
.signup-btn {
    text-decoration: none;
    color: white;
}

.signin-container {
    margin-top: 1.875rem;
    display: flex;
    justify-content: center;
    align-items: center;
}
.signup-lower {
    margin-top: 3.125rem;
    display: flex;
    justify-content: center;
    gap: 3.75rem;
}
.ext-signuplink {

    display: flex;
    justify-content: center;
    align-items: center;
    height: 3.125rem;
    width: 3.125rem;
    border-radius: 100%;
    background-color: #80808061;
}

.fa-brands {
    font-size: 1.875rem;
    color: white
}

.google:hover {
    transition: ease-in 0.4s;
    background-color: red
}

.facebook:hover {
    transition: ease-in 0.4s;
    background-color: #1877f2;

}

.X-twitter:hover {
    transition: ease-in 0.4s;
    background-color: #000;
}

@media (max-width: 920px) {
    .left-panel { display: none; }
    .right-panel { flex: 1; }
}
